<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
  </head>
  <body>
<<<<<<< HEAD
    <h1>Bienvenido a <%= title %></h1>
    <p>El portal donde podrás crear tus propios juegos!</p>
    <p><a href='/quizes/question'> Comienze a jugar </a></p>
    <p><a href='/quizes/author'>Autores</a></p>
=======
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
>>>>>>> b29e7ed08b261953d0582d1c38c5aa1d379b8b58
  </body>
</html>
