<!DOCTYPE html>
<html>
  <head>
    <title>Author</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Autores</h1>
    <p><a href="/">Inicio</a></p>
    <p>Iciar Esteve Arenaza</p>
  </body>
</html>